<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
</head>

<body>
  <p>
    The cookie was
    <span id="cookie-report">
      {%- if cookie_seen -%}
        seen
      {%- else -%}
        not seen
      {%- endif -%}
    </span>
    before.
  </p>
</body>

</html>
